@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

.header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-image: url('/img/photo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.calc {
  width: 300px;
  height: 450px;
  padding: 8px;
  border-radius: 40px;
  background-color: #252527;
}

.calc-top {
  width: 100%;
  height: 25%;
  margin-bottom: 20px;
  position: relative;
}

.calc__response {
  position: absolute;
  color: #000000e8;
  z-index: 100;
  font-size: 30px;
  top: 30px;
  transition: .4s all;
  right: 18px;
}

.calc__text {
  height: 100%;
  background-color: #ffffff;
  resize: none;
  font-size: 40px;
  pointer-events: none;
  text-align: end;
  padding-top:12.5%;
  padding-right: 10px;
  overflow: hidden;
  border: 0;
  position: relative;
  border-radius: 30px;
}

.calc-buttons {
  height: 70%;
  width: 100%;
  display: grid;
  gap: 7px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.calc-buttons__item {
  border: 0;
  cursor: pointer;
  border-radius: 7px;
  background-color: inherit;
  color: #fff;
  transition: 0.6s;
  font-size: 30px;
  border-radius: 30px;
}

.calc-buttons__item:hover {
  background-color:#fff;
  color: #000;
  transition: 0.6s;
}

.calc-buttons--c:hover {
  background-color: #ff0101;
  color: #fff;
}

.calc-buttons--still {
  grid-column: 1 / 4;
}

.calc-buttons--c {
  background-color: #ff0101;
}